USE [master]
GO
/****** Object:  Database [DT]    Script Date: 12/9/2025 10:40:46 PM ******/
CREATE DATABASE [DT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DT', FILENAME = N'E:\DsqlServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\DT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DT_log', FILENAME = N'E:\DsqlServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\DT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DT]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[address_line] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[phone_receiver] [nvarchar](20) NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NULL,
	[coupon_id] [int] NULL,
	[createAt] [datetime] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](100) NOT NULL,
	[discount_value] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[coupon_id] [int] NULL,
	[order_date] [datetime] NULL,
	[sub_total] [decimal](10, 2) NOT NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[grand_total] [decimal](10, 2) NOT NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NULL,
	[image_url] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/9/2025 10:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [nvarchar](200) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[addresses] ON 

INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (1, 1, N'123 Đường Lê Lợi', N'Hà Nội', N'Quận Hoàn Kiếm', N'0987654321', 1)
INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (2, 2, N'456 Đường Nguyễn Huệ', N'Hồ Chí Minh', N'Quận 1', N'0912345678', 1)
INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (3, 3, N'789 Đường Trần Hưng Đạo', N'Đà Nẵng', N'Quận Hải Châu', N'0909123456', 1)
SET IDENTITY_INSERT [dbo].[addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description]) VALUES (1, N'DTNEST', N'Sản phẩm yến sào thương hiệu DTNEST')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (2, N'KHANEST', N'Sản phẩm yến sào thương hiệu KHANEST')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (3, N'OKINAWA', N'Thạch rong nho thương hiệu OKINAWA')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (1, N'Khuyến mãi Tết Nguyên Đán', 20, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-02-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (2, N'Sự kiện Chào Hè Sôi Động', 15, CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (3, N'Quốc tế Thiếu Nhi', 10, CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-06-07T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [total_price]) VALUES (1, 1, 1, 5, CAST(45000.00 AS Decimal(10, 2)), CAST(225000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [total_price]) VALUES (2, 2, 12, 2, CAST(45000.00 AS Decimal(10, 2)), CAST(90000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [total_price]) VALUES (3, 3, 2, 10, CAST(60000.00 AS Decimal(10, 2)), CAST(600000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [coupon_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address]) VALUES (1, 3, 1, CAST(N'2025-12-09T15:20:43.010' AS DateTime), CAST(225000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)), CAST(195000.00 AS Decimal(10, 2)), N'789 Đường Trần Hưng Đạo, Quận Hải Châu, Đà Nẵng')
INSERT [dbo].[orders] ([id], [user_id], [coupon_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address]) VALUES (2, 3, NULL, CAST(N'2025-12-09T15:20:43.010' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(105000.00 AS Decimal(10, 2)), N'321 Đường Hoàng Diệu, Quận Thanh Khê, Đà Nẵng')
INSERT [dbo].[orders] ([id], [user_id], [coupon_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address]) VALUES (3, 4, 3, CAST(N'2025-12-09T15:20:43.010' AS DateTime), CAST(600000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)), CAST(560000.00 AS Decimal(10, 2)), N'654 Đường Lý Thường Kiệt, Quận Đống Đa, Hà Nội')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (1, 3, 1, 1, 5, N'Yến chưng rất thanh mát, không quá ngọt, đóng gói đẹp.', CAST(N'2025-12-09T15:20:43.010' AS DateTime))
INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (2, 3, 12, 2, 4, N'Thạch dai ngon, vị xoài thơm nhưng hơi ít.', CAST(N'2025-12-09T15:20:43.010' AS DateTime))
INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (3, 4, 2, 3, 5, N'Bé nhà mình rất thích loại yến sữa này, sẽ mua lại.', CAST(N'2025-12-09T15:20:43.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [role], [created_at]) VALUES (1, N'admin', N'admin@dt.com', N'Admin@123', N'Quản trị viên', N'0900000000', N'admin', CAST(N'2025-12-09T15:20:43.003' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [role], [created_at]) VALUES (2, N'staff01', N'staff@dt.com', N'$2y$10$HxWlQ6P3hZnY7V7s8K9Z/OF6dLmWq1A2bC3dE4fG5hI6jK7L8M9N0', N'Trần Thị Nhân Viên', N'0912345678', N'staff', CAST(N'2025-12-09T15:20:43.003' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [role], [created_at]) VALUES (3, N'khach01', N'customer1@email.com', N'$2y$10$HxWlQ6P3hZnY7V7s8K9Z/OF6dLmWq1A2bC3dE4fG5hI6jK7L8M9N0', N'Lê Văn Khách', N'0909123456', N'customer', CAST(N'2025-12-09T15:20:43.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164A0A87260]    Script Date: 12/9/2025 10:40:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572A56D46C1]    Script Date: 12/9/2025 10:40:46 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='staff' OR [role]='admin' OR [role]='customer'))
GO
ALTER TABLE [dbo].[users] ADD is_active BIT DEFAULT 1;
GO
USE [master]
GO
