USE [master]
GO
/****** Object:  Database [DT]    Script Date: 12/22/2025 8:20:05 AM ******/
CREATE DATABASE [DT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DT', FILENAME = N'E:\DsqlServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\DT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DT_log', FILENAME = N'E:\DsqlServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\DT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DT]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[coupon_id] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NULL,
	[image_url] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[coupon_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_order_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_product_sales]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================================================
-- CREATE VIEWS FOR REPORTING
-- ===================================================

-- View for product sales summary
CREATE VIEW [dbo].[vw_product_sales] AS
SELECT 
    p.id AS product_id,
    p.name AS product_name,
    c.name AS category_name,
    COUNT(oi.id) AS total_orders,
    SUM(oi.quantity) AS total_quantity_sold,
    SUM(oi.total_price) AS total_revenue,
    AVG(r.rating) AS average_rating
FROM dbo.products p
LEFT JOIN dbo.categories c ON p.category_id = c.id
LEFT JOIN dbo.order_items oi ON p.id = oi.product_id
LEFT JOIN dbo.reviews r ON p.id = r.product_id
GROUP BY p.id, p.name, c.name
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [nvarchar](200) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[is_locked] [bit] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_date] [datetime] NULL,
	[sub_total] [decimal](10, 2) NOT NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[grand_total] [decimal](10, 2) NOT NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NULL,
	[receiver_name] [nvarchar](150) NOT NULL,
	[receiver_phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_customer_orders]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for customer orders summary
CREATE VIEW [dbo].[vw_customer_orders] AS
SELECT 
    u.id AS user_id,
    u.username,
    u.email,
    u.full_name,
    COUNT(o.id) AS total_orders,
    SUM(o.grand_total) AS total_spent,
    MAX(o.order_date) AS last_order_date
FROM dbo.users u
LEFT JOIN dbo.orders o ON u.id = o.user_id
WHERE u.role = 'customer'
GROUP BY u.id, u.username, u.email, u.full_name
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](100) NOT NULL,
	[discount_value] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_coupons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_active_coupons]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for active coupons
CREATE VIEW [dbo].[vw_active_coupons] AS
SELECT 
    id,
    event_name,
    discount_value,
    start_date,
    end_date
FROM dbo.coupons
WHERE is_active = 1 
    AND GETDATE() BETWEEN start_date AND end_date
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[address_line] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[phone_receiver] [nvarchar](20) NULL,
	[is_default] [bit] NULL,
 CONSTRAINT [PK_addresses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_logs]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[module] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NULL,
	[coupon_id] [int] NULL,
	[createAt] [datetime] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 12/22/2025 8:20:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
	[menu_url] [nvarchar](255) NULL,
	[menu_index] [int] NOT NULL,
	[isVisible] [bit] NOT NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[addresses] ON 

INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (1, 1, N'123 Đường Lê Lợi', N'Hà Nội', N'Quận Hoàn Kiếm', N'0987654321', 1)
INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (2, 2, N'456 Đường Nguyễn Huệ', N'Hồ Chí Minh', N'Quận 1', N'0912345678', 1)
INSERT [dbo].[addresses] ([id], [user_id], [address_line], [city], [district], [phone_receiver], [is_default]) VALUES (3, 3, N'789 Đường Trần Hưng Đạo', N'Đà Nẵng', N'Quận Hải Châu', N'0909123456', 1)
SET IDENTITY_INSERT [dbo].[addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[admin_logs] ON 

INSERT [dbo].[admin_logs] ([id], [user_id], [action], [module], [description], [created_at]) VALUES (1, 1, N'Xóa đơn hàng', N'Đơn hàng', N'Xóa đơn hàng ID = 7', CAST(N'2025-12-21T20:09:00.277' AS DateTime))
INSERT [dbo].[admin_logs] ([id], [user_id], [action], [module], [description], [created_at]) VALUES (2, 1, N'Xóa đơn hàng', N'Đơn hàng', N'Xóa đơn hàng ID = 6', CAST(N'2025-12-22T07:37:12.543' AS DateTime))
INSERT [dbo].[admin_logs] ([id], [user_id], [action], [module], [description], [created_at]) VALUES (3, 1, N'Cập nhật giao hàng', N'Giao hàng', N'Đơn hàng ID = 10 → trạng thái shipped', CAST(N'2025-12-22T08:03:14.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[admin_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [customerId], [coupon_id], [createAt], [productId], [quantity]) VALUES (1, 3, 1, CAST(N'2025-12-12T09:30:00.000' AS DateTime), 1, 2)
INSERT [dbo].[cart] ([id], [customerId], [coupon_id], [createAt], [productId], [quantity]) VALUES (2, 3, NULL, CAST(N'2025-12-12T09:30:00.000' AS DateTime), 12, 1)
INSERT [dbo].[cart] ([id], [customerId], [coupon_id], [createAt], [productId], [quantity]) VALUES (3, 4, 3, CAST(N'2025-12-12T10:15:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description]) VALUES (1, N'DTNEST', N'Sản phẩm yến sào thương hiệu DTNEST')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (2, N'KHANEST', N'Sản phẩm yến sào thương hiệu KHANEST')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (3, N'OKINAWA', N'Thạch rong nho thương hiệu OKINAWA')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (1, N'Khuyến mãi Tết Nguyên Đán', 20, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-02-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (2, N'Sự kiện Chào Hè Sôi Động', 15, CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[coupons] ([id], [event_name], [discount_value], [start_date], [end_date], [is_active]) VALUES (3, N'Quốc tế Thiếu Nhi', 10, CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-06-07T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [title], [parent_id], [menu_url], [menu_index], [isVisible]) VALUES (1, N'Trang chủ', NULL, N'/', 1, 1)
INSERT [dbo].[menu] ([id], [title], [parent_id], [menu_url], [menu_index], [isVisible]) VALUES (2, N'Sản phẩm', NULL, N'/Product', 2, 1)
INSERT [dbo].[menu] ([id], [title], [parent_id], [menu_url], [menu_index], [isVisible]) VALUES (3, N'Danh mục', NULL, N'#', 3, 1)
SET IDENTITY_INSERT [dbo].[menu] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [coupon_id], [product_id], [quantity], [price], [total_price]) VALUES (1, 1, 1, 1, 5, CAST(45000.00 AS Decimal(10, 2)), CAST(225000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [coupon_id], [product_id], [quantity], [price], [total_price]) VALUES (2, 2, NULL, 12, 2, CAST(45000.00 AS Decimal(10, 2)), CAST(90000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [coupon_id], [product_id], [quantity], [price], [total_price]) VALUES (3, 3, 3, 3, 3, CAST(44000.00 AS Decimal(10, 2)), CAST(132000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address], [status], [receiver_name], [receiver_phone]) VALUES (1, 3, CAST(N'2025-12-09T15:20:43.010' AS DateTime), CAST(225000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)), CAST(195000.00 AS Decimal(10, 2)), N'789 Đường Trần Hưng Đạo, Quận Hải Châu, Đà Nẵng', N'completed', N'Lê Văn Khách', N'0909123456')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address], [status], [receiver_name], [receiver_phone]) VALUES (2, 3, CAST(N'2025-12-09T15:20:43.010' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(105000.00 AS Decimal(10, 2)), N'321 Đường Hoàng Diệu, Quận Thanh Khê, Đà Nẵng', N'pending', N'Lê Văn Khách', N'0909123456')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [sub_total], [shipping_fee], [discount_amount], [grand_total], [shipping_address], [status], [receiver_name], [receiver_phone]) VALUES (3, 4, CAST(N'2025-12-10T10:30:00.000' AS DateTime), CAST(120000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), CAST(12000.00 AS Decimal(10, 2)), CAST(128000.00 AS Decimal(10, 2)), N'654 Đường Lý Thường Kiệt, Quận Đống Đa, Hà Nội', N'shipped', N'Phạm Thị Mua Hàng', N'0938123456')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [coupon_id], [name], [description], [price], [stock_quantity], [image_url], [is_active], [created_at]) VALUES (1, 1, 1, N'DTNEST TỔ YẾN CHƯNG KHÔNG ĐƯỜNG', N'Thành phần: Mỗi lọ 70ml chứa: Nước, Sợi yến tươi 6g , Isomalt 0,6g , Rong nho 250mg , Acesulfam kali , Calci lactat , Agar , Guar gum , Xanthan gum , Natri alginat , Natri benzoat , Hương liệu tổng hợp dùng trong thực phẩm.', CAST(45000.00 AS Decimal(10, 2)), 109, N'to_yen_chung_khong_duong.jpg', 1, CAST(N'2025-12-09T15:20:43.007' AS DateTime))
INSERT [dbo].[products] ([id], [category_id], [coupon_id], [name], [description], [price], [stock_quantity], [image_url], [is_active], [created_at]) VALUES (2, 1, 1, N'DTNEST YẾN SỮA DÀNH CHO TRẺ EM', N'Thành phần: Mỗi lọ 70ml chứa: Nước, sợi yến tươi 6g, đường phèn, bột sữa (7%) (Whole milk, Premium Creamer), Taurin 50mg, Canxi 30mg, Calci lactat, Agar, Guar gum, Xanthan gum, Natri alginat, Chất nhũ hóa Acidmilk, Natri benzoat, Hương liệu tổng hợp dùng cho thực phẩm.', CAST(60000.00 AS Decimal(10, 2)), 100, N'yen_sua.jpg', 1, CAST(N'2025-12-09T15:20:43.007' AS DateTime))
INSERT [dbo].[products] ([id], [category_id], [coupon_id], [name], [description], [price], [stock_quantity], [image_url], [is_active], [created_at]) VALUES (3, 1, 2, N'DTNEST TỔ YẾN CHƯNG ĐƯỜNG PHÈN', N'Thành phần: Mỗi lọ 70ml chứa: Nước, Sợi yến tươi 6g , Đường phèn 6g , Rong nho 250mg , Calci lactat , Agar , Guar gum , Xanthan gum , Natri alginat , Natri benzoat , Hương liệu tổng hợp dùng trong thực phẩm.', CAST(44000.00 AS Decimal(10, 2)), 100, N'to_yen_chung_duong_phen.jpg', 1, CAST(N'2025-12-09T15:20:43.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (1, 3, 1, 1, 5, N'Yến chưng rất thanh mát, không quá ngọt, đóng gói đẹp.', CAST(N'2025-12-09T15:20:43.010' AS DateTime))
INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (2, 3, 12, 2, 4, N'Thạch dai ngon, vị xoài thơm nhưng hơi ít.', CAST(N'2025-12-09T15:20:43.010' AS DateTime))
INSERT [dbo].[reviews] ([id], [user_id], [product_id], [order_id], [rating], [comment], [created_at]) VALUES (3, 4, 3, 3, 5, N'Sản phẩm chất lượng, giao hàng nhanh.', CAST(N'2025-12-10T16:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [address], [avatar], [role], [created_at], [is_active], [is_locked]) VALUES (1, N'admin', N'admin@dt.com', N'Admin@123', N'Quản trị viên', N'0900000000', N'123 Đường Lê Lợi, Hà Nội', N'admin_avatar.jpg', N'admin', CAST(N'2025-12-09T15:20:43.003' AS DateTime), 1, 0)
INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [address], [avatar], [role], [created_at], [is_active], [is_locked]) VALUES (2, N'staff01', N'staff@dt.com', N'$2y$10$HxWlQ6P3hZnY7V7s8K9Z/OF6dLmWq1A2bC3dE4fG5hI6jK7L8M9N0', N'Trần Thị Nhân Viên', N'0912345678', N'456 Đường Nguyễn Huệ, HCM', N'staff_avatar.jpg', N'staff', CAST(N'2025-12-09T15:20:43.003' AS DateTime), 1, 0)
INSERT [dbo].[users] ([id], [username], [email], [password], [full_name], [phone_number], [address], [avatar], [role], [created_at], [is_active], [is_locked]) VALUES (3, N'khach01', N'customer1@email.com', N'$2y$10$HxWlQ6P3hZnY7V7s8K9Z/OF6dLmWq1A2bC3dE4fG5hI6jK7L8M9N0', N'Lê Văn Khách', N'0909123456', N'789 Đường Trần Hưng Đạo, Đà Nẵng', N'customer1_avatar.jpg', N'customer', CAST(N'2025-12-09T15:20:43.003' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_order_items_coupon]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_order_items_coupon] ON [dbo].[order_items]
(
	[coupon_id] ASC
)
WHERE ([coupon_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_items_order]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_order_items_order] ON [dbo].[order_items]
(
	[order_id] ASC
)
INCLUDE([product_id],[quantity],[total_price]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_orders_status]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_orders_status] ON [dbo].[orders]
(
	[status] ASC
)
INCLUDE([order_date],[grand_total]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_user]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_orders_user] ON [dbo].[orders]
(
	[user_id] ASC
)
INCLUDE([order_date],[grand_total],[status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_category]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_products_category] ON [dbo].[products]
(
	[category_id] ASC
)
INCLUDE([name],[price],[is_active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_coupon]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_products_coupon] ON [dbo].[products]
(
	[coupon_id] ASC
)
WHERE ([coupon_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_product]    Script Date: 12/22/2025 8:20:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_product] ON [dbo].[reviews]
(
	[product_id] ASC
)
INCLUDE([rating],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 12/22/2025 8:20:06 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 12/22/2025 8:20:06 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[admin_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[menu] ADD  DEFAULT ((0)) FOR [menu_index]
GO
ALTER TABLE [dbo].[menu] ADD  DEFAULT ((1)) FOR [isVisible]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK_addresses_users]
GO
ALTER TABLE [dbo].[admin_logs]  WITH CHECK ADD  CONSTRAINT [FK_admin_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[admin_logs] CHECK CONSTRAINT [FK_admin_logs_users]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_coupons] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_coupons]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_products] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_products]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_users] FOREIGN KEY([customerId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_users]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menu] ([id])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_parent]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_coupons] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_coupons]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_orders]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_products]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_coupons] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_coupons]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_orders]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_products]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [CK_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [CK_reviews_rating]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='customer' OR [role]='admin' OR [role]='staff'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
